<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Partida</title>
  </head>
  <body>
    <h2>Detalhes da partida</h2>
	
	<p> <b>Data: </b> <%=partida.data%></p>
	<p> <b>Jogador 1: </b> <%=partida.player01%></p>
	<p> <b>Jogador 2: </b> <%=partida.player02%></p>
	<% if(partida.vencedor == "empate") { %>
	<p> <b>Resultado: </b> <%=partida.vencedor%></p>
	<% } else { %>
	<p> <b>Vencedor: </b> <%=partida.vencedor%></p>
	<% }
		if(partida.vencedor == "") { %>
		<form method="POST" action="/partida/<%=partida._id%>">
		<p> Defina o vencedor(ou empate digitando 'empate')): <input type="text" name="vencedor"/> </p>
		<p> <input type="submit" class="btn btn-default" value="Finalizar partida"/> </p>
	</form>
	<% } %>
	<p><a href="/partida"> <button class="btn btn-default">Voltar</button> </a></p>
	
  </body>
</html>
