<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Jogador</title>
  </head>
  <body>
  <div class="container">
    <h2>Detalhes do jogador</h2>
	
	<table class="table table-striped">
      <tr>
        <th>Apelido</th>
        <th>Nome</th>
		<th>Email</th>
		<th>Vitórias</th>
		<th>Derrotas</th>
		<th>Empates</th>
		<th>ELO Rating</th>
      </tr>
      <tr>
		
        <td><%=jogador.apelido%></td>
        <td><%=jogador.nome%></td>
		<td><%=jogador.email%></td>
		<td><%=jogador.vitorias%></td>
		<td><%=jogador.derrotas%></td>
		<td><%=jogador.empates%></td>
		<td><%=jogador.ELO%></td>
		
      </tr>
    </table>
	
	<p><a href="/jogador"> <button class="btn btn-default">Voltar</button> </a></p>
	</div>
  </body>
</html>
